[submodule "thirdparty/glad"]
	path = thirdparty/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/soil2-cmake"]
	path = thirdparty/soil2-cmake
	url = https://github.com/Jacob-Tate/soil2-cmake.git
[submodule "thirdparty/imgui-cmake"]
	path = thirdparty/imgui-cmake
	url = https://github.com/SzymonGo1337/imgui-cmake.git
